/* Jumboton */
.jumbotron {
    background-image: url(../img/jumbotron-bg.jpg);
    background-size: cover;
    height: 640px;
    width: auto;
}


/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #ffa500;
}


/* DESTOP VERSION */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}